/* @import url('../../public/fonts/Switzer/css/switzer.css'); */


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0 16px;


    & h1 {
        margin: 8px 0 16px 0;
        max-width: 70%;
        font-size: 40px;
        font-family: "Switzer Thin", "Switzer Placeholder", sans-serif;
        hyphens: auto;
        word-break: break-word;
        overflow: hidden;
    }

    & p {
        margin: 16px 0 32px 0;
        font-size: 20px;
    }

    .p {
        text-align: center;
        font-size: 16px;
        opacity: 0.5;
        margin: 124px 0 16px 0;
    }
}




@media screen and (max-width: 768px) {
    .hero-section {
        max-width: 100%;
        & h1 {
            margin-top: 0;
        }
    }

    .hero-pin{
        margin-top: 0px;
        margin-bottom: 32px;
    }
}